.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    position: relative;
    bottom: 0px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.footer-section h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #f39c12;
}

.footer-section p, .footer-section ul {
    font-size: 1em;
    line-height: 1.6;
    color: #ccc;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #f39c12;
}

.footer-section.social .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-section.social .social-icons a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section.social .social-icons a:hover {
    color: #f39c12;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #111;
    margin-top: 20px;
    font-size: 0.9em;
    color: #ccc;
}
.footer-section.social h2 a {
    display: block;
    padding: 10px 20px;
    background-color: #2d2d2e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .footer-section.social h2 a:hover {
    background-color: #000000;
    color: #f39c12;
    transform: scale(1.05);
  }
  