.update-post {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.update-post-form{
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.update-post-form-close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
    color: #f30a0a;
    /* transition: color 0.3s ease; */
}
.update-post-form-close:hover{
    color: #131111;
    transform: scale(1.1);
}
.update-post-form h1{
    text-align: center;
    /* color: #f30a0a; */
    margin-bottom: 20px;
    /* font-size: 24px; */
}

.update-post-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

.update-post-form input:focus{
    background-color: #9d9b9b;
    outline: none;
    box-shadow: 0 2px 2px #000000;


}

.update-post-form-file{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.update-post-form-submit{
    background-color: #f30a0a;   
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.7s ease;
}

.update-post-form-submit:hover{
    background-color: #131111;
}
.create-post-input{
    background-color: #fff;
    color: #000;
}